<div class="jumbotron">
  <div class="container">
    <h3>Welcome!</h3>
    <p>
      My name is Dustin Goodman. I'm a web developer based out of Atlanta, GA, USA. During the day, I design and develop web applications. At night, I deal in the realm of learning as a teacher and as a student. As a developer, I'm always trying to keep up with the latest technologies so I try to watch and read about new projects and tools that I can incorporate into my projects. I also love to teach others about programming and computer science. I spend a great deal of time on <a href="http://codecademy.com">Codecademy</a> where I serve as a moderator helping to teach millions of users.
    </p>
    <p>
      This site is to supplement my online teaching. My blog will contain series of posts dedicated to teaching different technologies and tools. Reach out to me if you have any special requests or articles you would like to see regarding whatever topic I'm writing about.
    </p>
    <p>
      This website is built using <a href="http://rubyonrails.org/">Ruby on Rails</a> and <a href="http://angularjs.org/">AngularJS</a>. It's sourcecode is available on <a href="https://github.com/sharocko/dustin-goodman">GitHub</a> for your viewing pleasure.
    </p>
  </div>
</div>