<section class="login-layout" data-access-level="accessLevels.anon">
  <div class="main-container">
    <div class="main-content">
      <div class="row">
        <div class="center-col-margin">
          <div class="login-container">
            <div class="center">
              <h1><img src="/images/logo.png" srcset="/images/logo@2x.png 2x" alt="Clickscape Logo"></h1>
            </div>
            <div class="space-6"></div>
            <div class="position-relative" data-ng-transclude=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>